.active{
    color: black!important;

    background-color: white!important;
}

.paginateButton {
    width:30px;
    height:30px;

    color:white;

    cursor: pointer;

    background-color: transparent;
    border: none;
}

.paginateButton:hover{
    color: black;

    background-color: white;
}

.paginationWrapper {
    display: flex;

    gap: 1em;

    margin-bottom: 20px;
}