.wrapper{
    display: flex;

    align-items: center;

    height: 50px;
    margin-bottom: 20px;

    color:white;

    background-color: var(--second-color);

    h3{
        font-weight: 400;
    }
}

.homeLink{
    font-weight: 400;

    cursor: pointer;

    transition: 0.15s;
}

.header{
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.homeLink:hover {
    color: var(--bg-color);

    transition: 0.15s;
}

.me{
    font-weight: 500;
    color: var(--bg-color);
    text-decoration: none;
}

.me:hover{
    text-decoration: underline;
}