.buttonWrapper{
    display: flex;

    padding: 55px;

    text-align: center;

    h3{
        transition: 0.15s;
    }
}

.buttonWrapper h3:hover{
    color: var(--second-color);

    transition: 0.15s;
  
}