.filmsBlockTitle{
    display: flex;

    margin-bottom: 20px;
}

.filmsBlockWrapper{
    padding-bottom: 30px;

    overflow: auto hidden;
}

.filmsBlockWrapper::-webkit-scrollbar{
    width:8px;
    height:8px;
    scrollbar-gutter: stable;
}

.filmsBlockWrapper::-webkit-scrollbar-thumb{
    background-color: white;
}

.filmsBlockWrapper::-webkit-scrollbar-track{
    background-color: transparent;
}

.clickStyles{
    cursor: pointer;

    transition: 0.15s;
}

.clickStyles:hover{
    color: var(--second-color);

    transition: 0.15s;
}
